<div class="cuadro">
    <div class="container px-5">
        <h1 class="title">Registrate en Spotify App</h1>

        <hr>

        <div class="container">
            <form autocomplete="off">
                <div class="form-group">
                    <label>Email o nombre de usuario</label>
                    <input class="form-control" type="text" placeholder="Email o nombre de usuario">
                </div>
    
                <div class="form-group mt-2">
                    <label>Contraseña</label>
                    <input class="form-control" type="text" placeholder="Contraseña">
                </div>
            </form>

            <button class="boton">Crear cuenta</button>
        </div>

        
        <hr>

        <div class="text-center">
            <span>Ya tienes cuenta? <a routerLink="/auth">Inicia sesión en Spotify App</a> </span>
        </div>

    </div>
    

</div>